# Build artifacts
target/
*.jar
*.war

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Git
.git/
.gitignore

# Docker
dockerfile
docker-compose.yml
.dockerignore

# Project documentation and other files
README.md
HELP.md
databases/
report/
mvnw
mvnw.cmd

# Local environment files
.env
.gemini/
